<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/menu.css}">
</head>
<body>
<!-- MENU -->
<!--<header th:replace="menu :: site-menu"></header>-->
<span th:fragment="site-menu">
<input type="checkbox" id="active">
<label for="active" class="menu-btn">MENU</label>
<span class="wrappers">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/products/list">Products</a>
        </li>
        <li><a href="/orders/">Orders</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Feedback</a></li>
    </ul>
</span>
</span>
</body>
</html>