<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Menu</title>-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">-->
<!--</head>-->
<!--<body>-->
<!--<div th:fragment="catalog">-->
<!--    <div class="container mt-5">-->
<!--        <div class="list-group">-->
<!--            <span class="list-group-item list-group-item-action active">Categories</span>-->
<!--            <a th:each="category : ${categories}" th:href="@{/category/{id}(id=${category.id})}"-->
<!--               class="list-group-item list-group-item-action" th:text="${category.name}"></a>-->
<!--        </div>-->
<!--        <div class="list-group mt-5">-->
<!--            <span class="list-group-item list-group-item-action active">Subcategories</span>-->
<!--            <a th:each="subcategory : ${subcategories}" th:href="@{/subcategory/{id}(id=${subcategory.id})}"-->
<!--               class="list-group-item list-group-item-action" th:text="${subcategory.name}"></a>-->
<!--        </div>-->
<!--        <div class="list-group mt-5">-->
<!--            <span class="list-group-item list-group-item-action active">Products</span>-->
<!--            <a th:each="product : ${products}" th:href="@{/product/{id}(id=${product.id})}"-->
<!--               class="list-group-item list-group-item-action" th:text="${product.name}"></a>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->