<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <link rel="stylesheet" th:href="@{/gallery.css}">
</head>
<body>
<!--<div class="bodyForGallery" th:fragment="galleries">-->
<!--    <div class="container-2">-->
<!--        <div class="card-2">-->
<!--            <img class="imgGallery"-->
<!--                 src="https://upload.wikimedia.org/wikipedia/commons/d/d6/Cat_plotting_something_evil%21.jpg">-->
<!--            <div class="card__head">Plotting Cat</div>-->
<!--        </div>-->
<!--        <div class="card-2">-->
<!--            <img class="imgGallery"-->
<!--                 src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/False_alarm_-a.jpg/1280px-False_alarm_-a.jpg">-->
<!--            <div class="card__head">Angry Cat</div>-->
<!--        </div>-->
<!--        <div class="card-2">-->
<!--            <img class="imgGallery"-->
<!--                 src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Neugierige-Katze.JPG/1280px-Neugierige-Katze.JPG">-->
<!--            <div class="card__head">Curious Cat</div>-->
<!--        </div>-->
<!--        <div class="card-2">-->
<!--            <img class="imgGallery"-->
<!--                 src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Al_acecho_%289272124788%29.jpg/1280px-Al_acecho_%289272124788%29.jpg">-->
<!--            <div class="card__head">Prowling Cat</div>-->
<!--        </div>-->
<!--        <div class="card-2">-->
<!--            <img class="imgGallery"-->
<!--                 src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/Mimi%26Tigsi.jpg/1280px-Mimi%26Tigsi.jpg">-->
<!--            <div class="card__head">Sleepy Cat</div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<div class="bodyForGallery" th:fragment="galleries">
    <div class="container-2" th:each="category : ${categories}">
        <div class="card-2" >
            <img class="imgGallery" th:src="${category.image}">
            <div class="card__head" th:text="${category.name}"></div>
        </div>
    </div>
</div>
</body>

</html>