<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <link rel="stylesheet" th:href="@{/gallery.css}">
</head>
<body>
<div class="bodyForGallery" th:fragment="galleries">
    <div class="container-2" th:each="category : ${categories}">
        <div class="card-2">
            <form th:action="@{/products/list/{id}(id=${category.id})}" method="post">

                <button type="submit" class="product-image">
                    <div class="card-2">
                    <img class="imgGallery" th:src="${category.image}">
                    <div class="card__head" th:text="${category.name}"></div>
                       </div>
                </button>
            </form>


        </div>
    </div>
</div>
</body>

</html>